.container{
  width: 40%;
  margin: auto;
  padding: 30px;
  height: auto;
  background-image: url(../assets/img/dadi-174191.jpg);
  background-size: 100%;
  text-align: center;
  border-radius: 20px;
}

.container .opacity{
  background-color: rgba(0,0,0, 0.7);
}

.mini_box{
  display: flex;
  justify-content: space-around;
}

.container h1{
  color: brown;
  opacity: 1;
}

.container .mini_box h3{
  color: greenyellow;
}

.container h2{
  color: blue;
  font-weight: 700;
  font-style: oblique;
}